{%- comment -%} Default Styles {%- endcomment -%}
{%- assign card_style  = '' -%}
{%- assign text_style  = 'text-themed' -%}
{%- assign badge_style = 'badge-dark' -%}

{%- comment -%} Update Styles {%- endcomment -%}
{%- if post.style == 'fill' -%}
  {%- assign card_style = post.color | prepend: 'bg-' -%}
  {%- if post.color != 'light' -%}
    {%- assign text_style  = 'text-white' -%}
    {%- assign badge_style = 'badge-light text-' -%}
    {%- assign badge_style = badge_style | append: post.color -%}
  {%- endif -%}
{%- else -%}
  {%- assign card_style = post.color | prepend: 'border border-' -%}
  {%- if post.color -%}
    {%- assign badge_style =  post.color | prepend: 'badge-' -%}
  {%- endif -%}
{%- endif -%}
    
<div class="col-lg-6 my-3 wow animated fadeIn" data-wow-delay=".15s">
  <div class="post card {{ card_style }}">
    <div class="card-body {{ text_style }}">
      <h3 class="card-title">{{ post.title }}</h3>
      <p class="card-text">
        {{ post.issuer }}
      </p>
      <p class="card-text">
        {{ post.content }}
      </p>
    </div>
    <div class="card-footer {{ text_style }}">
      {{ post.date | date: "%B %Y" }}
    </div>
  </div>
</div>